.options {
  background-color: #030817;
  color: #FFF;
  min-width: 340px;
  width: min-content;
  padding: 30px 20px;
  border-right: 1px solid rgb(97, 97, 97);
  position: relative;
}

.options h2 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.label {
  font-size: 14px;
  margin-top: 30px;
  margin-left: 2px;
  margin-bottom: 5px;
}