.query-1 {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.options {
  background-color: #030817;
  color: #FFF;
  min-width: 300px;
  padding: 30px 20px;
  border-right: 1px solid rgb(97, 97, 97);
  position: relative;
}

.options h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.chart {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}