nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 20px 40px;
  background-color: #030817;
  border-bottom: 1px solid rgb(97, 97, 97);
}

#logo {
  border-radius: 10px;
  display: grid;
  place-items: center;
  color: #FFF;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links > a {
  color: #FFF;
  font-size: 15px;
  margin: 0 1rem;
  display: grid;
  place-items: center;
  border-radius: 100%;
  font-weight: bold;
}
.links > a:hover {
  color: rgb(69, 84, 253);
  transition: .3s ease-in-out;
}